@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-3">Kayseri Ünivertsitesi Bilgisayar Mühendisliği Otomatik Sınav Takvim Programı</h2>
    <p>Json Dosyasını yüklemek için <a href="/Home/Upload">tıklayınız</a>.</p>
</div>
